
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  height: 44px;
  width: 44px;
  border:0;
  background-color: #121C2C;
  font-weight: 500;
  font-size: 17px;
}