.main{
    padding: 100px 150px;
    min-height: calc(100vh - 98px);

    a{
        text-decoration: none;
        color: #FFFF;
    }
}

.content{
    display: flex;
    gap: 25px;
    margin-top: 50px;
}

.btnheader{
    display: flex;
    gap: 15px;
    margin: 50px 0px;
}

.contentCourses{
    width: 100%;
    background-color: var(--cinza);
    margin-top: 50px;
    border-radius: 8px;
    padding: 0px 20px;

    .course{
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
        border-bottom: solid 1px #484848;

        &:last-child{
            border: none;
        }
    }

    p{
        color: var(--textbranco);
        font-size: 20px;
    }
}

.btndelete{
    cursor: pointer;
}

@media (max-width: 800px){
    .main{
        padding: 100px 40px;

    }
  }

  @media (max-width: 570px){
    .main{
        padding: 50px 16px;

    }
  }