.main {
    padding: 68px 150px;
    min-height: calc(100vh - 98px);

    a {
        text-decoration: none;
        color: #FFFF;
    }
}

.content {
    display: flex;
    gap: 25px;
    margin-top: 68px;

    div {
        background-color: var(--cinza);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        text-align: center;

        gap: 10px;

        padding: 34px 34px 27px 34px;

        h2 {
            font-size: 50px;
            color: var(--textbranco);
            font-family: "Bebas Neue", sans-serif;
            font-weight: lighter;
            height: auto;
        }

        p {
            font-size: 17px;
            color: var(--textcinza);

            span{
                font-weight: bolder;
            }
        }
    }
}


@media (max-width: 800px) {
    .main {
        padding: 100px 40px;

    }

    .logo {
        max-width: 100%;

    }
}

@media (max-width: 800px) {
    .content{
        margin-top: 20px;
    }

    .main{
        padding: 20px 23px;
    }
}