
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  border-radius: 100px;
  padding: 15px 25px;
  border:0;
  cursor: pointer !important;

  background-color: var(--main);
  color: var(--fundopreto);
  font-weight: bold;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  
}

@media (max-width: 800px){
  .button{
    gap: 4px;
  
    border-radius: 100px;
    padding: 5px 16px;
    border:0;
    cursor: pointer !important;
  
    background-color: var(--main);
    color: var(--fundopreto);
    font-weight: bold;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    
  }

  .icon{
    width: 15px;
  }
}